{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>


    <div class="col-md-offset-1 col-md-8" style="margin-bottom: 20px;">
        <h1>Выборка данных из таблицы</h1>

        <div>
                <div class="query_1 col-md-12">

                        <h2 class="text-center">Запрос 1</h2>
                        <h4>Выбрать всех студентов которые получили среднюю оценку выше 4.0 и учатся на контракте</h4>
                        <form  action="/result_qur_2/" method="get">
                            {% csrf_token %}
                            <div class="col-md-4">
                                <div class="form-group">
                                <h4>Оценка для выборки</h4>
                                <select name="mark_name" id="query_1_select">
                                    {% for item in mark_name %}
                                        <option name="mark_name" value="{{ item.mark_name }}">{{ item.mark_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Выбрать студента</h4>
                                <select name="name_surname" id="query_1_select">
                                    {% for item in student_name %}
                                        <option name="name_surname" value="{{ item.name }}  {{ item.surname }}">{{ item.name }}  {{ item.surname }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-md-4">
                                <h4>выбрать кафедру</h4>
                                <select name="cafedra_name" id="query_1_select">
                                    {% for item in cafedra_name %}
                                        <option name="cafedra_name" value="{{ item.cafedra_name }}">{{ item.cafedra_name }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="form-group col-md-12">
                                <button class="btn btn-primary " type="submit">Выполнить</button>
                            </div>


                        </form>

                </div>

            <div class="query_2 col-md-12" style="margin-top: 30px;">
                <hr>
                <h2>Query 2</h2>
            <h4>Для определенного студента вывести название кафедры , название группы и специальность</h4>
                <form  action="/result/" method="get">
                    {% csrf_token %}
                          <div class="form-group">
                            <label for="formGroupExampleInput">Имя</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="name" >
                          </div>
                          <div class="form-group">
                            <label for="formGroupExampleInput2">Фамилия</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="surname">
                          </div>
                          <div class="form-group">
                              <input type="submit" value="Поиск" class="btn btn-primary"  >
                          </div>
                </form>

            </div>

            <hr>
            <div class="query_3 col-md-12">
                <h2 class="text-center">Запрос 3</h2>
            <h4>Вывести всех студентов , цену за обучение дневной формы образования которые вступили на контракт между 2013 и 2016
                годом и оплатили за этот период
                <hr>
                <div class="query_3 col-md-12">
                    <form action="/result_3_query/" method="get">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Выберите год</h4>
                                <select name="year" id="">

                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Выберите месяц</h4>
                                <select name="month" id="">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary">отправить</button>
                    </form>
                </div>

            </h4>
            </div>


            <hr>
        <div class="query_4 col-md-12">
            <h2 class="text-center">Запрос 4</h2>
            <h4>Выбрать всех студентов женского пола которые учатся на бюджете и имеют оценку 4 или выше</h4>
            <hr>
            <form action="/result_4_query/">
            {% csrf_token %}
                <div class="form-group col-md-6">
                    <h4>Выбрать студентов на контате или бюджет</h4>
                    <select name="budget" id="">
                        <option value="Бюджет(+)">Бюджет(+)</option>
                        <option value="Бюджет(-)">Бюджет(-)</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <h4>Выбрать оценку</h4>
                     <select name="mark_name" id="query_1_select">
                         {% for item in mark_name %}
                             <option name="mark_name" value="{{ item.mark_name }}">{{ item.mark_name }}</option>
                         {% endfor %}
                     </select>
                </div>
                <div class="form-group col-md-12">
                    <button class="btn btn-primary" type="submit">Выполнить</button>
                </div>
                <
            </form>
        </div>

    </div>
    </div>

</body>
</html>